src/Wemo/wsdl/BasicService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:u="urn:Belkin:service:basicevent:1">

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Belkin:service:basicevent:1">
            <xsd:element name="SetBinaryState">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="BinaryState" type="xsd:string" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SetBinaryStateResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="BinaryState" type="xsd:string" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetBinaryState">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetBinaryStateResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="BinaryState" type="xsd:string" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetFriendlyName">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetFriendlyNameResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="FriendlyName" type="xsd:string" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetHomeId">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetHomeIdResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="HomeId" type="xsd:string" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetSignalStrength">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetSignalStrengthResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="SignalStrength" type="xsd:string" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetLogFileURL">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetLogFileURLResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="LOGURL" type="xsd:string" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetIconURL">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetIconURLResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="URL" type="xsd:string" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ChangeFriendlyName">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="FriendlyName" type="xsd:string" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ChangeFriendlyNameResponse">
                <xsd:complexType>
                    <xsd:sequence />
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="SetBinaryStateInputMessage">
        <wsdl:part name="SetBinaryStateInputPart" element="u:SetBinaryState"/>
    </wsdl:message>
    <wsdl:message name="SetBinaryStateOutputMessage">
        <wsdl:part name="SetBinaryStateOutputPart" element="u:SetBinaryStateResponse"/>
    </wsdl:message>

    <wsdl:message name="GetBinaryStateInputMessage">
        <wsdl:part name="GetBinaryStateInputPart" element="u:GetBinaryState"/>
    </wsdl:message>
    <wsdl:message name="GetBinaryStateOutputMessage">
        <wsdl:part name="GetBinaryStateOutputPart" element="u:GetBinaryStateResponse"/>
    </wsdl:message>

    <wsdl:message name="GetFriendlyNameInputMessage">
        <wsdl:part name="GetFriendlyNameInputPart" element="u:GetFriendlyName"/>
    </wsdl:message>
    <wsdl:message name="GetFriendlyNameOutputMessage">
        <wsdl:part name="GetFriendlyNameOutputPart" element="u:GetFriendlyNameResponse"/>
    </wsdl:message>

    <wsdl:message name="GetHomeIdInputMessage">
        <wsdl:part name="GetHomeIdInputPart" element="u:GetHomeId"/>
    </wsdl:message>
    <wsdl:message name="GetHomeIdOutputMessage">
        <wsdl:part name="GetHomeIdOutputPart" element="u:GetHomeIdResponse"/>
    </wsdl:message>

    <wsdl:message name="GetSignalStrengthInputMessage">
        <wsdl:part name="GetSignalStrengthInputPart" element="u:GetSignalStrength"/>
    </wsdl:message>
    <wsdl:message name="GetSignalStrengthOutputMessage">
        <wsdl:part name="GetSignalStrengthOutputPart" element="u:GetSignalStrengthResponse"/>
    </wsdl:message>

    <wsdl:message name="GetLogFileURLInputMessage">
        <wsdl:part name="GetLogFileURLInputPart" element="u:GetLogFileURL"/>
    </wsdl:message>
    <wsdl:message name="GetLogFileURLOutputMessage">
        <wsdl:part name="GetLogFileURLOutputPart" element="u:GetLogFileURLResponse"/>
    </wsdl:message>

    <wsdl:message name="GetIconURLInputMessage">
        <wsdl:part name="GetIconURLInputPart" element="u:GetIconURL"/>
    </wsdl:message>
    <wsdl:message name="GetIconURLOutputMessage">
        <wsdl:part name="GetIconURLOutputPart" element="u:GetIconURLResponse"/>
    </wsdl:message>

    <wsdl:message name="ChangeFriendlyNameInputMessage">
        <wsdl:part name="ChangeFriendlyNameInputPart" element="u:ChangeFriendlyName"/>
    </wsdl:message>
    <wsdl:message name="ChangeFriendlyNameOutputMessage">
        <wsdl:part name="ChangeFriendlyNameOutputPart" element="u:ChangeFriendlyNameResponse"/>
    </wsdl:message>

    <wsdl:portType name="BasicServicePortType">
        <wsdl:operation name="SetBinaryState">
            <wsdl:input message="SetBinaryStateInputMessage"/>
            <wsdl:output message="SetBinaryStateOutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetBinaryState">
            <wsdl:input message="GetBinaryStateInputMessage"/>
            <wsdl:output message="GetBinaryStateOutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetFriendlyName">
            <wsdl:input message="GetFriendlyNameInputMessage"/>
            <wsdl:output message="GetFriendlyNameOutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetHomeId">
            <wsdl:input message="GetHomeIdInputMessage"/>
            <wsdl:output message="GetHomeIdOutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetSignalStrength">
            <wsdl:input message="GetSignalStrengthInputMessage"/>
            <wsdl:output message="GetSignalStrengthOutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetLogFileURL">
            <wsdl:input message="GetLogFileURLInputMessage"/>
            <wsdl:output message="GetLogFileURLOutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetIconURL">
            <wsdl:input message="GetIconURLInputMessage"/>
            <wsdl:output message="GetIconURLOutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ChangeFriendlyName">
            <wsdl:input message="ChangeFriendlyNameInputMessage"/>
            <wsdl:output message="ChangeFriendlyNameOutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="BasicServiceBinding" type="BasicServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SetBinaryState">
            <soap:operation soapAction="urn:Belkin:service:basicevent:1#SetBinaryState"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetBinaryState">
            <soap:operation soapAction="urn:Belkin:service:basicevent:1#GetBinaryState"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetFriendlyName">
            <soap:operation soapAction="urn:Belkin:service:basicevent:1#GetFriendlyName"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetHomeId">
            <soap:operation soapAction="urn:Belkin:service:basicevent:1#GetHomeId"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSignalStrength">
            <soap:operation soapAction="urn:Belkin:service:basicevent:1#GetSignalStrength"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLogFileURL">
            <soap:operation soapAction="urn:Belkin:service:basicevent:1#GetLogFileURL"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetIconURL">
            <soap:operation soapAction="urn:Belkin:service:basicevent:1#GetIconURL"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ChangeFriendlyName">
            <soap:operation soapAction="urn:Belkin:service:basicevent:1#ChangeFriendlyName"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="BasicService">
        <wsdl:port name="BasicServicePort" binding="BasicServiceBinding">
            <soap:address location="http://192.168.2.74:49153/upnp/control/basicevent1"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>